	
<html>
<head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
<body>
	<div class="login">
	<h1><center>Login</center></h1>

<div class="form-1">


	<%=form_for(:session, url: login_path) do |f|%>
		<p class="field">
		<%#=f.label :mob%>
		<%=f.text_field :mob, placeholder: "Mobile number", class: 'form-control'%>
			<i class="material-icons">call</i>
		</p>
		<p class="field">
		<%#=f.label :password%>
		<%=f.password_field :password, placeholder: "Password", class: 'form-control'%>
	<i class="material-icons">vpn_key</i></p>
		<p class="submit">
		<%= button_tag :submit do %>
    <i class='material-icons', style="font-size: 18px">send</i>
<% end %></p>
	<%end%>

</div>

</div>
<h2><%=link_to "Create account",  signup_path%></h2>
</body>
</html>