<html>
<%provide(:title, "Home")%>

<%if logged_in?%>
<div class="row">
	<aside class="col-md-4">
		 <section class="user_info">
<h1>
  <%= gravatar_for current_user %>
  <%= current_user.name %> 

  </h1>
    </section>
		<section class="post_form"> 
			<%=render 'shared/fol_count'%> <br><br>
			<%=render 'shared/post_form'%><br><br>
			
		</section><br>
		<div class="viewpost">
			<%=render 'shared/view_posts'%>
	</div>
	</aside>

<div class="col-md-7">
	<ul class = "posts">
<h1>Posts Feed</h1>
		<%#=render 'shared/filter_form'%>
		<%=render 'shared/post_feed'%>
		
	</ul>
</div>
</div>

<%else%>
<body>
<div class="center jumbotron">
<h1>Welcome to CONNECT!</h1>

<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary"%>
</div>
</body>
<%end%>
<br><br>


</html>