<%provide(:title, "Notifications")%>
<%provide(:one, "is")%>
<%provide(:many, "are")%>
<%provide(:msg, "celebrating Birthday!")%>

<div class="row">
		 <div class="col-md-9 col-md-offset-3">

<%if current_user.dob == Date.current%>
	<h3>Happyy Birthday <%=current_user.name%> !!</h3>
<%end%>

<%if @users.any?%>
<section class="bday">
<div class="col-md-7">
	<h3>
	<%if @users.count == 1%>
		<%@users.each do |u|%>
		<%=u.name%>
		<%end%>
		 <%=yield(:one)%> 
		<%=yield(:msg)%> 
	<%else%>
		<%@users.each do |u|%>
			<%= u.name %>,  
		<%#= u.dob %>
		<%end%>
		<%=yield(:many)%> 
		<%=yield(:msg)%>
	<%end%>
	<br><%= link_to "Send wish!", index_path%>
</h3>
</div>
</section>
<%end%>
<%if @users.empty? && current_user.dob != Date.current%>
	<h3>No Notifications</h3>
<%end%>

</div>
</div>
