 <div class="col-md-8">
    <h3><%=@title%> (<%= @posts.count%>)</h3>

    <% if @posts.any? %>
      <ul class="posts">
   	<%@posts.each do |p|%> <li>
      <%@current_post = Post.find(p.votable_id)  %>
      		<%post = Post.find(p.votable_id)%>
      		<%=link_to post.user.name, post.user%><br>
      	<div class="post_content">	<%=post.content%> | </div>
      	<div class="post_time">  Posted <%=time_ago_in_words(post.created_at)%> ago </div>

        <div>	<%=image_tag post.picture.url if post.picture?%></div>      	

<div class="likes">  <%=render 'shared/like_form'%></div>
      	<%end%>
        </li>

      </ul>
      <%= will_paginate @posts%>
    <% end %>
  </div>