<%#@feed_items = @feed_items.where(!(privacy: "Private" && !(user_id: current_user.id))%>
<%if @feed_items.any?%>
	
<%#=render @feed_items%>
<%@feed_items.each do |fi|%>

	<%unless fi.privacy == "Private" && fi.user != current_user %>
<li>
	<%@current_post = fi%>
	<%=link_to fi.user.name, fi.user%> |<%= render 'shared/privacy_icon'%><br>
	<div class="post_content"><%=fi.content%> | </div> 
	<div class="post_time">Posted <%=time_ago_in_words(fi.created_at)%> ago</div>
	<div><%=image_tag fi.picture.url if fi.picture? %></div>
	<div class="likes">
	<%=render 'shared/like_form', flag: 0%></div>
	<%#=render 'users/like_count'%>
	 <%end%>
</li>
<%end%>
<%=will_paginate @feed_items%>
<%end%>
  