<%if @feed_items.any?%>
<ol>	
<%#=render @feed_items%>
<%@feed_items.each do |fi|%>
<li>
	<%@current_post = fi%>
	<%=link_to fi.user.name, fi.user%> <br>
	<div class="post_content"><%=fi.content%> | </div> 
	<div class="post_time">Posted <%=time_ago_in_words(fi.created_at)%> ago</div>
	<div><%=image_tag fi.picture.url if fi.picture? %></div>
	<div class="likes">
	<%=render 'shared/like_form'%></div>
	<%#=render 'users/like_count'%>
	 
</li>
<%end%>
</ol>
<%=will_paginate @feed_items%>
<%end%>
