<%@current_post = post%>
<%unless @current_post.privacy == "Private" && current_user != post.user%>
<li>
<%#=link_to gravatar_for(post.user), post.user%>
<%=link_to post.user.name, post.user%> |<%= render 'shared/privacy_icon'%><br>
<div class="post_content"><%=post.content%></div> | 
<div class="post_time">Posted <%=time_ago_in_words(post.created_at)%> ago</div> 
<div><%=image_tag post.picture.url if post.picture? %></div>

<%if current_user == post.user%>
<%=link_to "Edit", edit_post_path(post)%> | <%=link_to "Delete", post, method: :delete, data: {confirm: "Sure?"}%>
<%end%>	
<div class="likes"> <%=render 'shared/like_form', flag: 0 %></div>

</li> 
<%end%>